<%- include('../partials/header') %>

<div class="page-content home-landing">
    
    <div class="intro-box">
        <h1>Salom, men Alisher.</h1>
        <img src="/assets/user.jpg" alt="Kim edi bu">
        <p>Men Node.js va Backend texnologiyalari bilan ishlayman.</p>
        
        <div class="dropdown-menu">
            <button class="btn-more">Batafsil &darr;</button>
            <div class="dropdown-content">
                <a href="/blog">Blog</a>
                <a href="/about">Men haqimda</a>
                <a href="/projects">Loyihalarim</a>
                <a href="https://t.me/alisher_yondoshaliyev" target="_blank">Telegram kanal</a>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/footer') %>