</main> <footer class="cockpit-footer">
        <div class="status-left">
            <span class="status-indicator online"></span>
            <span>STATUS: ONLINE</span>
        </div>
        <div class="status-right">
            <span>CONNECTION: SECURE</span>
            <span>USER: guest@alisher.blog</span>
        </div>
    </footer>

    <script src="/js/terminal.js" type="module"></script>

</body>
</html>