<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof pageTitle !== 'undefined' ? pageTitle : "Alisher's Cockpit" %></title>
    
    <link rel="stylesheet" href="/css/terminal.css">
</head>
<body>

    <header class="cockpit-header">
        <div class="header-title">
            [Alisher's Blog :: Terminal v2.0]
        </div>
        <div class="header-controls">
            <span>_</span>
            <span>[ ]</span>
            <span class="btn-close">X</span>
        </div>
    </header>

    <main class="main-cockpit">